.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.single-card{
    width: 300px;
    margin: 15px;
}
.single-card button{
    padding: 8px 16px;
    border: 1px solid black;
    border-radius: 7px;
    background-color: #fff;
}